<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {%block title%}GradeBook{%endblock%}
    </title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="shortcut icon" href="{% static 'main/images/logo.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    {% block extracss %}
    {% endblock %}
</head>
<body>
    <div class="w3-container">
        <header>
            <div class="w3-bar w3-black">
                <a href="{% url 'homepage' %}" class="w3-bar-item w3-button">Home</a>
                <a href="{% url 'homepage' %}" class="w3-bar-item w3-button">Students</a>
                <a href="{% url 'homepage' %}" class="w3-bar-item w3-button">Subjects</a>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock  %}
        </main>
    </div>
</body>
</html>